body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.modal-open > :not(.modal) {
  filter: blur(3px);
}

.modal-backdrop.show {
  opacity: 0.2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.table-responsive {
  border-radius: 10px;
}

.page-link {
  background-color: #30353b;
  color: white;
  border-color: rgba(55, 61, 67, 0.3);
}

.page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(186, 237, 245, 0.25);
}

.page-link:hover {
  color: white;
  background-color: rgba(233, 236, 239, 0.2);
  border-color: rgba(55, 61, 67, 0.5);
  box-shadow: 0 0 5px 1px #ffffff26;
}

.page-item.active .page-link {
  background-color: rgb(186, 237, 245);
  color: #30353b;
  border: none;
  box-shadow: 0 0 5px 3.5px rgba(0, 221, 255, 0.3);
}

.list__currency-brand {
  cursor: pointer;
}

.modal-content {
  color: white;
  background-color: transparent;
  backdrop-filter: blur(15px);
}

.modal-header {
  border-color: rgba(255, 255, 255, 0.3);
}

.close {
  text-shadow: none;
  color: white;
}

.close:hover {
  transition: 0.3s;
  opacity: 1;
  color: white;
}

.nav-tabs {
  border-color: rgba(255, 255, 255, 0.3);
}

.nav-tabs .nav-link.active {
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
}

.nav-tabs .nav-link:not(.active):hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.7);
}

.nav-tabs .nav-link {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.quick-stats-list {
  margin: 0 auto;
}

.quick-stats-list > div:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.quick-stats-list__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5px;
}

.quick-stats-list__info dd {
  margin: 0;
}
